<a href="<%= Link.home %>">Go back home</a>

<%= @content %>

<div class="books">
  <h2>Currently reading</h2>
  <% @currently_reading_books.each do |book| %>
    <div class="book">
      <img src="<%= book.image_url %>" alt="<%= book.name %>" class="book--img">
      <div>
        <a href="<%= book.link %>" rel="noreferrer" target="_blank" class="book--name"><%= book.name %></a>
        <span>By <%= book.authors.join(' & ') %></span>
      </div>
    </div>
  <% end %>

  <h2>Previously read</h2>
  <% @previously_read_books.each do |book| %>
    <div class="book">
      <img src="<%= book.image_url %>" alt="<%= book.name %>" class="book--img">
      <div>
        <a href="<%= book.link %>" rel="noreferrer" target="_blank" class="book--name"><%= book.name %></a>
        <span>By <%= book.authors.join(' & ') %></span>
      </div>
    </div>
  <% end %>
</div>
