<header>
  <a href="index.html">Go back home</a>

  <h1 class="mt-4 md:mt-8">Books I'm reading</h1>
  <p class="text-gray-600">
    A few years ago I started using Goodreads to keep track of what I was reading.
    I don't use the social features of Goodreads but I'll occasionally add a rating or
    write a review. Whenever I add something to Goodreads, it will also show up here.
    Alternatively, you can check out <a href="" target="_blank">my Goodreads profile</a>.
  </p>
</header>

<div class="mt-8 md:mt-16">
  <h2>Currently reading</h2>
  <ul>
    <% @books.filter(&:active).each do |book| %>
      <li class="flex items-center">
        <img src="<%= book.cover_image_url %>" class="mr-6" />
        <div class="flex flex-col">
          <a href="<%= book.source_url %>" target="_blank"><%= book.title %></a>
          <span>By <%= book.authors.join(" & ") %></span>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<div class="mt-8 md:mt-16">
  <h2>Previously read</h2>
  <ul>
    <% @books.filter(&:inactive).each do |book| %>
      <li class="flex items-center">
        <img src="<%= book.cover_image_url %>" class="mr-6" />
        <div class="flex flex-col">
          <a href="<%= book.source_url %>" target="_blank"><%= book.title %></a>
          <span>By <%= book.authors.join(" & ") %></span>
        </div>
      </li>
    <% end %>
  </ul>
</div>
