<header>
  <a href="index.html">Go back home</a>

  <h1 class="mt-4 md:mt-8">My favorite tweets</h1>
  <p class="text-gray-600">
    I favorite Tweets that make me feel good. They might make me laugh, or inspire me.
    Those Tweets show up on this page. Or, you can see them on my
    <a href="https://twitter.com/_smeriwether" target="_blank">Twitter profile</a>.
  </p>
</header>

<ul class="ml-0">
  <% @tweets.each do |tweet| %>
    <li class="w-full flex justify-center items-center mt-4">
      <div class="w-116 p-4 border border-gray-400 rounded-lg">
        <div class="flex">
          <img class="h-12 mr-2 rounded-full" src="<%= tweet.user_image_url %>" />
          <div class="w-full flex justify-between">
            <div class="flex flex-col justify-center">
              <span class="font-bold leading-tight"><%= tweet.user_name %></span>
              <span class="text-gray-600 text-sm">@<%= tweet.user_screen_name %></span>
            </div>

            <div>
              <a href="<%= tweet.url %>" target="_blank" class="no-underline">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path class="heroicon-ui" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41zM17 14a1 1 0 0 1 2 0v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2h5a1 1 0 0 1 0 2H5v12h12v-5z" />
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="mt-4">
          <p><%== tweet.text %></p>
        </div>

        <div class="mt-2">
          <p class="text-gray-600 text-sm">
            <%= tweet.created_at.strftime("%l:%M %p · %b %e, %Y") %>
          </p>
        </div>
      </div>
    </li>
  <% end %>
</ul>
